* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #161925;
  display: flex;
  justify-content: center;
}

p {
  color: #247ba0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#counters {
  padding-top: 20px;
  display: flex;
  gap: 30px;
}

.container {
  color: #247ba0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#counter {
  font-size: 30px;
  font-weight: 700;
}

#word-round {
  height: 100px;
  color: #247ba0;
  display: flex;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.input-text {
  background-color: #fb3640;
  width: 300px;
  border: 1px solid #fb3640;
  color: white;
  font-size: 20px;
}

#add-word,
#skip-word,
#change-language,
#show-word {
  background-color: #247ba0;
  border: solid 1px #247ba0;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}
